<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promedio General</title>
    <style>
        ul li {
            list-style: none;
            padding: 0 15px;
            display: inline-block;
        }

        ul li a {
            text-decoration: none;
            color: #1b1a1a;
        }

        ul li a.active {
            font-weight: bold;
            color: blue;
        }
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <header style="margin-bottom: 50px;">
        <nav>
            <ul>
                <li>
                    <a href="/agregar">Agregar</a>
                </li>
                <li>
                    <a href="/promedio-alumno">Promedio alumno</a>
                </li>
                <li>
                    <a href="/promedio-general" class="active">Promedio general</a>
                </li>
                <li>
                    <a href="/promedio-materia">Promedio materia</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Promedio General</h1>
    {{if .Msg}}
        <div id="msg" style="margin-top: 30px; font-style: italic; font-size: 20px; font-weight: bold;">{{.Msg}}</div>
    {{end}}
</body>
</html>